<%- include('./partials/header') %>
<%- include('navbar') %>
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/chatbox.css">
<div id="home-container">
  <section id="feed-posts">
    <h4>Posts</h4>
    <% if(locals.user){%>
    <form action="/posts/create" id="new-post-form" method="POST">
      <textarea name="content" cols="30" row="3"></textarea>
      <input type="submit" value="POST">
    </form>
    <% } %>
    <% if(posts.length  != 0 ){ %>
      <div class="posts" id='post-list-container'>
        <% posts.forEach(function(post) { %>
          <div class="post-item" id="post-<%= post._id %>">
            <h3 class="post-content">
              <%= post.content %>
              <% if((locals.user) && (locals.user.id == post.user.id)){ %>
            <small style="position: relative;left: 20rem;"><a class="delete-post-button" href="/posts/destroy/<%= post.id %>"><i class="fas fa-trash-alt"></i></a></small>
            <% } %>
            </h3>
            <p class="post-date"><span><%= post.user.name %></span><%= post.createdAt.toDateString() %> </p>
            <div class="post-options">
              <p><span><i class="fas fa-thumbs-up"></i></span>Like</p>
              <p><span><i class="fas fa-comment"></i></span>Comment</p>
              <p><span><i class="fas fa-share"></i></span>Share</p>
            </div>
            <div class="post-comments">
              <% if(locals.user){%>
              <form class="new-comment-form" action="/comments/create" method="POST">
                <input type="text" name="content" id="" placeholder="Write a comment..." required >
                <input type="hidden" name="post" value="<%= post._id %>">
              </form>
              <% } %>
              <% if(post.comments.length != 0) {%>
                <ul class="post-comment-list" id='post-comments-<%= post._id %>'>
                  <% post.comments.forEach(function(comment){ %>
                  <div class="post-comment-item" id='comment-<%= comment.id %>'>
                     <% if((locals.user) && (locals.user.id == comment.user.id)){ %>
                      <small style="position: relative;left: 20rem;"><a class='delete-comment-button' href="/comments/destroy/<%= comment.id %>"><i class="fas fa-trash-alt"></i></a></small>
                      <% } %>
                    <p><%= comment.content  %></p>
                    <small>
                      <%= comment.user.name %>
                    </small>
                  </ul>
                  <br>
                    <% }) %>
                </div>
              <% } %>
            </div>
          </div>
          <% }) %>
      </div>
    <% } %>
  </section>
  <section id="user-friends">
    <h3>Friends</h3>
    <br>
    <% for(u of all_users){ %>
      <p><a href="/users/profile/<%= u.id %>"><%= u.name %></a></p>
    <% } %>
  </section>
  <%- include('_chat_box') -%>
</div>
<script src="/js/home_posts.js"></script>
<script src="/js/home_comments.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.min.js" integrity="sha512-fANg+hKlIqBdTzgYBT8eFIlZgKYTLij0S7Afvda/rw/Rm33I9+74HSdR1Urz2zGgCSZiQweMin46+l1obnoLWQ==" crossorigin="anonymous"></script>
<script src="/js/chat_engine.js"></script>
<% if(locals.user){ %>
<script>
  new ChatEngine('user-chat-box', '<%= locals.user.email %>')
</script>
<% } %>
<%- include('./partials/footer') %>
