<%- include('./partials/header') %>
<%- include('navbar') %>
<div id="profile-container">
  <h3>Name: <%= user.name %></h3>
  <p>Email: <%= user.email %></p>
</div>
<%- include('./partials/footer') %>
